{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <title>{% block title %}Inventory{% endblock %}</title>
</head>

<body>
  <div id="nav">
    <a class="button" href="{% url 'product_list' %}">Home</a>
    {% if user.is_authenticated %}
    <a class="button" href="{% url 'product_create' %}">➕ Add New Product</a>
    <span> | Hello, {{ user.username }}</span>
    <a class="button" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="button" href="{% url 'login' %}?next={{ request.path }}">Login</a>
    <a class="button" href="{% url 'signup' %}">Signup</a>
    {% endif %}
  </div>


  {# Show Django messages (success/info/error) #}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}&copy; My Webpage{% endblock %}
  </div>
</body>

</html>